<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pofile info</h3>
  </div>
  <div class="panel-body">
    {{#lf-form rules=basicProfileRules onSubmit=(action 'updateProfile') as |validateFunc isValid|}}
      {{lf-input
        name="email"
        label="*E-mail"
        property=model.email
        on-update=(action (mut model.email))
        validate=validateFunc
        errors=externalErrors.email
      }}

      <div class="row">
        <div class="col-lg-4">
          {{lf-input
            name="username"
            label="*Username"
            property=model.username
            on-update=(action (mut model.username))
            validate=validateFunc
            errors=externalErrors.username
          }}
        </div>

        <div class="col-lg-4">
          {{lf-input
            name="firstName"
            label="First Name"
            property=model.firstName
            on-update=(action (mut model.firstName))
            validate=validateFunc
            errors=externalErrors.firstName
          }}
        </div>

        <div class="col-lg-4">
          {{lf-input
            name="lastName"
            label="Last Name"
            property=model.lastName
            on-update=(action (mut model.lastName))
            validate=validateFunc
            errors=externalErrors.lastName
          }}
        </div>
      </div>

      {{lf-input
        label="*Preferred working hours per day"
        name="preferredWorkingHoursPerDay"
        property=model.preferredWorkingHoursPerDay
        on-update=(action (mut model.preferredWorkingHoursPerDay))
        inputComponent="working-time-picker"
        validate=validateFunc
        inputClass="no-lf-input-style"
        errors=externalErrors.preferredWorkingHoursPerDay
      }}

      {{#if currentUser.user.isAdmin}}
        {{#if (not-eq currentUser.user.id model.id)}}
          <div class="form-group">
            <label>Access level</label>
            <div>
              <select onchange={{action (mut model.accessLevel) value="target.value"}}>
                <option value="employee" selected={{eq model.accessLevel 'employee'}}>Employee</option>
                <option value="manager" selected={{eq model.accessLevel 'manager'}}>Manager</option>
                <option value="admin" selected={{eq model.accessLevel 'admin'}}>Admin</option>
              </select>
            </div>
          </div>
        {{/if}}
      {{/if}}

      <button class="btn btn-primary" disabled={{not isValid}}>Update</button>
      <button class="btn btn-default" {{action 'resetProfile'}}>Reset</button>
    {{/lf-form}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Change password</h3>
  </div>
  <div class="panel-body">
    {{#lf-form rules=passwordRules onSubmit=(action 'changePassword') as |validateFunc isValid|}}
      <div class="row">
        <div class="col-lg-6">
          {{lf-input
            name="password"
            label="*Password"
            type="password"
            property=password
            on-update=(action (mut password))
            validate=validateFunc
          }}
        </div>

        <div class="col-lg-6">
          {{lf-input
            name="passwordConfirmation"
            label="*Password confirmation"
            type="password"
            property=passwordConfirmation
            on-update=(action (mut passwordConfirmation))
            validate=validateFunc
          }}
        </div>
      </div>

      <button class="btn btn-primary" disabled={{not isValid}}>Change password</button>
    {{/lf-form}}
  </div>
</div>
