From
{{#power-datepicker selected=startDate onSelect=(action 'changeStartDate' value="date") as |dp|}}
  {{#dp.trigger tabindex="-1"}}
    <input type="text" class="my-input-class" readonly value={{moment-format startDate}}>
  {{/dp.trigger}}

  {{#dp.content class="datepicker-small"}}
    {{dp.nav}}
    {{dp.days}}
  {{/dp.content}}
{{/power-datepicker}}

To
{{#power-datepicker selected=endDate onSelect=(action 'changeEndDate' value="date") as |dp|}}
  {{#dp.trigger tabindex="-1"}}
    <input type="text" class="my-input-class" readonly value={{moment-format endDate}}>
  {{/dp.trigger}}

  {{#dp.content class="datepicker-small"}}
    {{dp.nav}}
    {{dp.days}}
  {{/dp.content}}
{{/power-datepicker}}

<button class="btn btn-xs btn-default" {{action 'filterForCurrentWeek'}}>This week</button>
<button class="btn btn-xs btn-default" {{action 'filterForCurrentMonth'}}>This month</button>

{{task-list tasks=model}}
