<h2>Register a new account</h2>

{{#lf-form rules=rules as |validateFunc isValid|}}
  {{lf-input
    name="email"
    label="Email"
    property=model.email
    on-update=(action (mut model.email))
    validate=validateFunc
    errors=externalErrors.email
  }}

  {{lf-input
    name="password"
    label="Password"
    type="password"
    property=model.password
    on-update=(action (mut model.password))
    validate=validateFunc
    errors=externalErrors.password
  }}

  {{lf-input
    name="username"
    label="Username"
    property=model.username
    on-update=(action (mut model.username))
    validate=validateFunc
    errors=externalErrors.username
  }}

  {{lf-input
    name="firstName"
    label="First Name"
    property=model.firstName
    on-update=(action (mut model.firstName))
    validate=validateFunc
    errors=externalErrors.firstName
  }}

  {{lf-input
    name="lastName"
    label="Last Name"
    property=model.lastName
    on-update=(action (mut model.lastName))
    validate=validateFunc
    errors=externalErrors.lastName
  }}

  <button class="btn btn-primary" disabled={{not isValid}}>Sign up</button>
{{/lf-form}}
